@import "../../css/colors.css";

.badge {
    padding: 0.5rem;
    margin: 5px 0 8px 0;
    border: 1px solid #b9d6ff;
    background-color: #dbebff;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
}
[theme="dark"] .badge {
    border-color: #203652;
    background-color: #16202c;
}

.title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
}
[theme="dark"] .cloud-icon {
    filter: invert(100%);
}

.servers {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.server {
    border: 1px solid $ui-black-transparent;
    padding: 0.25rem 0.5rem;
    margin: 0;
    background: none;
    border-radius: 1rem;
}
.server.selected {
    background-color: $motion-primary;
    color: $ui-white;
}
